<!DOCTYPE html>
<html lang="en">

<head itemscope="" itemtype="http://schema.org/WebSite">
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
	<meta content="bZy1hUHwYCR1jasFz-tOXC0oPPX65TADe1phMtvjomQ" name="google-site-verification" />
	<meta content="ID" property="og:locale" />
	<meta content="SIFORLAT" name="author" />
	<meta content="website" property="og:type" />
	<meta content="#081569" name="theme-color" />
	<meta content="true" name="u2f-support" />
	<meta content="siforlat.com" name="hostname" />
	<title>Siforlat | Sistem Informasi Jadwal Sholat</title>
	<meta name="description" content="Sistem Informasi Jadwal Sholat - Siforlat merupakan aplikasi untuk menampilkan jadwal sholat secara realtime, informasi kajian, jadawal imam dan khotib, video kajian, dan informasi masjid lainya.">
	<meta name="keywords" content="sistem informasi jadwal sholat, jadwal sholat, prayer times, aplikasi jadwal sholat, sistem informasi masjid">
	<meta name="author" content="Siforlat">
	<meta name="image" content="https://res.cloudinary.com/muhammadyana/image/upload/v1543910639/siforlat/siforlat-thumbnail.jpg">
	<meta name="description" content="Sistem Informasi Jadwal Sholat - Siforlat merupakan aplikasi untuk menampilkan jadwal sholat secara realtime, informasi kajian, jadawal imam dan khotib, video kajian, dan informasi masjid lainya.">
	<meta name="keywords" content="sistem informasi jadwal sholat, jadwal sholat, prayer times, aplikasi jadwal sholat, sistem informasi masjid">
	<meta property="og:title" content="Sistem Informasi Jadwal Sholat">
	<meta property="og:description" content="Sistem Informasi Jadwal Sholat - Siforlat merupakan aplikasi untuk menampilkan jadwal sholat secara realtime, informasi kajian, jadawal imam dan khotib, video kajian, dan informasi masjid lainya.">
	<meta name="author" content="Siforlat">
	<meta name="image" content="https://res.cloudinary.com/muhammadyana/image/upload/v1543910639/siforlat/siforlat-thumbnail.jpg">
	<meta content="https://siforlat.com/" property="og:url" />
	<meta content="https://res.cloudinary.com/muhammadyana/image/upload/v1543910639/siforlat/siforlat-thumbnail.jpg"
	 property="og:image" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="https://res.cloudinary.com/siforlat/image/upload/v1544539569/siforlat-icon.png"
	 sizes="144x144" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="https://res.cloudinary.com/siforlat/image/upload/v1544539569/siforlat-icon.png"
	 sizes="114x114" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="https://res.cloudinary.com/siforlat/image/upload/v1544539569/siforlat-icon.png"
	 sizes="72x72" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="https://res.cloudinary.com/siforlat/image/upload/v1544539569/siforlat-icon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/siforlat/image/upload/v1544539569/siforlat-icon.png" />
	<meta content="Siforlat - Sistem Informasi Jadwal Sholat" property="og:title" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Flatdoc -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js'></script>
	<script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/flatdoc.js'></script>
	
	<!-- Flatdoc theme -->
	<link href='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/style.css' rel='stylesheet'>
	<script src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/script.js'></script>
	<!-- Initializer -->
	<script>
		Flatdoc.run({
			fetcher: Flatdoc.github('muhammadyana/sistem-informasi-jadwal-sholat-API')
		});
	</script>
</head>
<body class='no-literate' role='flatdoc'>
	<div class='header'>
		<div class='left'>
			<h1>Siforlat API</h1>
			<ul>
				<li><a href='https://github.com/muhammadyana/sistem-informasi-jadwal-sholat-API'>View on GitHub</a></li>
				<li><a href='https://github.com/muhammadyana/sistem-informasi-jadwal-sholat-API/issues'>Issues</a></li>
			</ul>
		</div>
		<div class='right'>
			<!-- GitHub buttons: see http://ghbtns.com -->
			<iframe src="http://ghbtns.com/github-btn.html?user=muhammadyana&amp;repo=sistem-informasi-jadwal-sholat-API&amp;type=watch&amp;count=true"
			 allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
		</div>
	</div>
	
	<div class='content-root'>
		<div class='menubar'>
			<div class='menu section' role='flatdoc-menu'></div>
		</div>
		<div role='flatdoc-content' class='content'></div>
	</div>

	<!-- <p><%= schedule %></p> -->

	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript">
		// var name = "<%= schedule %>";
	</script>
	<!-- console.log(schedule); -->
	
</body>
</html>